
 <main>
 <div id="hero_register">
    <div class="container margin_120_95">			
      <div class="row">
        <div class="col-lg-6">
          <h1>Please register to Epione!</h1>
          <p class="lead">Now you can help us improve the quality of healthcare delivery and manage medical appointments linking patients and doctors</p>
          <div class="box_feat_2">
            <i class="pe-7s-map-2"></i>
            <h3>Find doctors!</h3>
            <p>This is your easiest way to book doctors online and take appointments </p>
          </div>
          <div class="box_feat_2">
            <i class="pe-7s-date"></i>
            <h3>Easly manage your appointments</h3>
            <p>Epione will be your smart assistant for hospital operating rooms</p>
          </div>
          <div class="box_feat_2">
            <i class="pe-7s-phone"></i>
            <h3>Instantly via Mobile</h3>
            <p>Eos eu epicuri eleifend suavitate, te primis placerat suavitate his. Nam ut dico intellegat reprehendunt, everti audiam diceret in pri, id has clita consequat suscipiantur.</p>
          </div>
        </div>
        <!-- /col -->
        <div class="col-lg-5 ml-auto">
          <div class="box_form">
            <form [formGroup]="form" (ngSubmit)="OnSubmit()" >
                
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <input formControlName="firstName" type="text" class="form-control" placeholder="first Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <input formControlName="email" type="email" class="form-control" placeholder="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="password" type="password" class="form-control" placeholder="password">
                    </div>
                  </div>
                </div>
              
             
              <!-- /row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Mobile Phone">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="codePostal" type="text" class="form-control" placeholder="code Postal">
                  </div>
                </div>
              </div>

               <!-- /row -->
               <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="numAppart" type="text" class="form-control" placeholder="Numero Appartement">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="rue" type="text" class="form-control" placeholder="Rue">
                    </div>
                  </div>
                </div>

                
               <!-- /row -->
               <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="ville" type="text" class="form-control" placeholder="Ville">
                    </div>
                  </div> 
                </div>

              <!-- /row -->
              {{ErrorMsg}}
              <p class="text-center add_top_30"><input type="submit" class="btn_1" value="Submit"></p>
              <div class="text-center"><small>Ut nam graece accumsan cotidieque. Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet.</small></div>
            </form>
          </div>
          <!-- /box_form -->
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /hero_register -->

<!-- /main -->
</main>


